<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2019 Phenix Real Time Solutions, Inc. Confidential and Proprietary. All Rights Reserved.
  ~
  ~  By using this code you agree to the Phenix Terms of Service found online here:
  ~  http://phenixrts.com/terms-of-service.html
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phenixrts.examples.webview">

  <uses-permission android:name="android.permission.INTERNET">
  </uses-permission>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS">
  </uses-permission>
  <uses-permission android:name="android.permission.RECORD_AUDIO">
  </uses-permission>
  <uses-permission android:name="android.permission.CAMERA">
  </uses-permission>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
      android:name="com.phenixrts.examples.webview.MainActivity"
      android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>